// .container{max-width:1170px; margin:auto;}
// img{ max-width:100%;}
// .inbox_people {
//   background: #f8f8f8 none repeat scroll 0 0;
//   float: left;
//   overflow: hidden;
//   width: 40%; border-right:1px solid #c4c4c4;
// }
// .inbox_msg {
//   border: 1px solid #c4c4c4;
//   clear: both;
//   overflow: hidden;
// }
// .top_spac{ margin: 20px 0 0;}

// .recent_heading {float: left; width:40%;}

// .srch_bar {
//   display: inline-block;
//   text-align: right;
//   width: 60%; padding: 0;
// }

// .headind_srch{ padding:10px 29px 10px 20px; overflow:hidden; border-bottom:1px solid #c4c4c4;}

// .recent_heading h4 {
//   color: #05728f;
//   font-size: 21px;
//   margin: auto;
// }
// .srch_bar input{ border:1px solid #cdcdcd; border-width:0 0 1px 0; width:80%; padding:2px 0 4px 6px; background:none;}
// .srch_bar .input-group-addon button {
//   background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
//   border: medium none;
//   padding: 0;
//   color: #707070;
//   font-size: 18px;
// }
// .srch_bar .input-group-addon { margin: 0 0 0 -27px;}

// .chat_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}
// .chat_ib h5 span{ font-size:13px; float:right;}
// .chat_ib p{ font-size:14px; color:#989898; margin:auto}
// .chat_img {
//   float: left;
//   width: 11%;
// }
// .chat_ib {
//   float: left;
//   padding: 0 0 0 15px;
//   width: 88%;
// }

// .chat_people{ overflow:hidden; clear:both;}
// .chat_list {
//   border-bottom: 1px solid #c4c4c4;
//   margin: 0;
//   padding: 18px 16px 10px;
// }
// .inbox_chat { height: 550px; overflow-y: scroll;}

// .active_chat{ background:#ebebeb;}

// .incoming_msg_img {
//   float: left;
//   margin-right: 10px;
//   display: inline-block;
//   width: 5%;
// }
// .received_msg {
//   display: inline-block;
//   padding: 0 0 0 10px;
//   vertical-align: top;
//   width: 92%;
//  }

// .time_date {
//   color: #747474;
//   display: block;
//   font-size: 12px;
//   margin: 8px 0 0;
// }
// .received_withd_msg { width: 57%;}
// .mesgs {
//   float: left;
//   padding: 30px 15px 0 25px;
//   width: 100%;
// }

//  .msg p {
//   background: #05728f none repeat scroll 0 0;
//   border-radius: 3px;
//   font-size: 14px;
//   margin: 0; color:#fff;
//   padding: 5px 10px 5px 12px;
//   width:100%;
// }
// .outgoing_msg{
//   overflow:hidden;
//   margin:26px 0 26px;
//   .msg {
//     float: right;
//     width: 46%;
//   }
// }
// .incoming_msg{
//   overflow:hidden;
//   margin:26px 0 26px;
//   .msg {
//     float: left;
//     width: 46%;
//   }
//   .msg p {
//     background: #ebebeb none repeat scroll 0 0;
//     border-radius: 3px;
//     color: #646464;
//     font-size: 14px;
//     margin: 0;
//     padding: 5px 10px 5px 12px;
//     width: 100%;
//   }
// }
// .input_msg_write input {
//   background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
//   border: medium none;
//   color: #4c4c4c;
//   font-size: 15px;
//   min-height: 48px;
//   width: 100%;
// }

// .type_msg {border-top: 1px solid #c4c4c4;position: relative;}
// .msg_send_btn {
//   background: #05728f none repeat scroll 0 0;
//   border: medium none;
//   border-radius: 50%;
//   color: #fff;
//   cursor: pointer;
//   font-size: 17px;
//   height: 33px;
//   position: absolute;
//   right: 0;
//   top: 11px;
//   width: 33px;
// }
// .messaging { padding: 0 0 50px 0;}
// .msg_history {
//   height: 516px;
//   overflow-y: auto;
//   position: relative;
// }

.chat {
  margin-top: auto;
  margin-bottom: auto;
}
.card {
  height: 80vh;
  border-radius: 0px;
  background: linear-gradient(rgba(0,0,0,0.2), rgba(0, 0, 0, 0.4)) !important;
}
.contacts_body {
  padding: 0.75rem 0 !important;
  overflow-y: auto;
  white-space: nowrap;
}
.msg_card_body {
  overflow-y: auto;
}
.card-header {
  border-radius: 15px 15px 0 0 !important;
  border-bottom: 0 !important;
}
.card-footer {
  border-radius: 0 0 15px 15px !important;
  border-top: 0 !important;
}
.container {
  align-content: center;
}
.search {
  border-radius: 15px 0 0 15px !important;
  background-color: rgba(0, 0, 0, 0.3) !important;
  border: 0 !important;
  color: white !important;
}
.search:focus {
  box-shadow: none !important;
  outline: 0px !important;
}
.type_msg {
  background-color: rgba(0, 0, 0, 0.3) !important;
  border: 0 !important;
  color: white !important;
  height: 60px !important;
  overflow-y: auto;
  padding-top: 16px;
}
.type_msg:focus {
  box-shadow: none !important;
  outline: 0px !important;
}
.attach_btn {
  border-radius: 0 !important;
  background-color: rgba(0, 0, 0, 0.3) !important;
  border: 0 !important;
  color: white !important;
  cursor: pointer;
}
.send_btn {
  border-radius: 0 !important;
  background-color: rgba(0, 0, 0, 0.3) !important;
  border: 0 !important;
  color: white !important;
  cursor: pointer;
}
.active {
  background-color: rgba(0, 0, 0, 0.3);
}
.user_img {
  height: 60px;
  width: 60px;
  border: 1.5px solid #f5f6fa;
}
.img_cont {
  position: relative;
  height: 60px;
}
.online_icon {
  position: absolute;
  height: 15px;
  width: 15px;
  background-color: #4cd137;
  border-radius: 50%;
  bottom: 0.2em;
  right: 0.4em;
  border: 1.5px solid white;
}
.offline {
  background-color: #c23616 !important;
}
.user_info {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
}
.user_info span {
  font-size: 20px;
  color: white;
}
.user_info p {
  font-size: 10px;
  color: rgba(255, 255, 255, 0.6);
}
.video_cam {
  margin-left: 50px;
  margin-top: 5px;
}
.video_cam span {
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin-right: 20px;
}
.msg_head {
  position: relative;
}
#action_menu_btn {
  position: absolute;
  right: 10px;
  top: 10px;
  color: white;
  cursor: pointer;
  font-size: 20px;
  > * {
    margin: 2px 0px 2px 10px;
  }
}
.action_menu {
  z-index: 1;
  position: absolute;
  padding: 15px 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 15px;
  top: 30px;
  right: 15px;
  display: none;
}
.action_menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.action_menu ul li {
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 5px;
}
.action_menu ul li i {
  padding-right: 10px;
}
.action_menu ul li:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
}
@media (max-width: 576px) {
  .contacts_card {
    margin-bottom: 15px !important;
  }
}
.form-control, .input-group-text {
  border-radius: 0 !important;
}

.emoji {
  margin-left: 0 !important;
}
